@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  font-size: 62.5%;
  font-weight: 400;
  /* color: #07847f80; */
}

.container{
  max-width: 136rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin: auto auto;
}

.gridStyle{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

/* our service background */
.ourService_section {
  background: linear-gradient(rgb(226, 248, 244,0.5), rgb(226, 248, 244,0.5)), url('/images/background-2.png');
  background-size: cover;
  background-position: center;

}

